/*!* Styles for Mobile devices *!*/
.container {
  /*max-width: 320px;*/
  min-width: 320px;
  padding: 10px 20px;
  margin: 0 auto;
}


/*!* Styles for Tablet devices *!*/
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 20px 30px;
  }
}

/*!* Styles for Desktop devices *!*/
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    /*padding: 40px 60px;*/
  }
}

/*/* Styles for Widescreen devices *!*/
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/*!*!* Styles for Ultra Widescreen devices *!*!*/
/*@media only screen and (min-width: 1920px) {*/
/*  .container {*/
/*    max-width: 1920px;*/
/*  }*/
/*}*/