.wrapper {
  border-bottom: 1px solid var(--red);
}

.wrapper.search {
  /*border-bottom: none;*/
}

/*!* Styles for Tablet devices *!*/
@media only screen and (min-width: 768px) {
  .wrapper {
    border-bottom: 2px solid var(--red);
  }
}

/*!* Styles for Desktop devices *!*/
@media only screen and (min-width: 1280px) {
  .wrapper {
    border-bottom: 3px solid var(--red);
  }
}

/*/* Styles for Widescreen devices *!*/
@media only screen and (min-width: 1440px) {

}