.wrapper.footer {
  background-color: grey;
}

.logo.footer {
  width: 176px;
}

.copyright-section {
  display: flex;
  justify-content: center;
  /*background-color: var(--red);*/
}

.copyright-link {
  cursor: pointer;
  transition: color 0.3s ease-in;
}

.copyright-link:hover {
  color: var(--red);
}