.wrapper.header {

}

.container.header {
  /*padding: 10px 30px;*/
}

header {

}

.header-address {
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.address-item {
  padding: 10px 0;
}

.address-link {
  transition: color 0.3s ease-in;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  position: relative;
  align-items: center;
}

.logo {
  padding: 20px 20px 20px 0;
  position: inherit;
  transform: translateX(-150%); /* Початкова позиція за межами лівого краю */
  animation: slideFromLeft 1.5s ease 0.3s forwards; /* Затримка 0.3 секунди */
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.header-item {
  display: none;
}

.address-link:hover,
.header-link:hover,
.address-link:focus,
.header-link:focus {
  color: var(--red);
}


.header-link {
  /*padding: 21px 0;*/
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.3s ease-in;
}

/*@media only screen and (max-width: 319px) {*/
/*  .mobile-menu-btn-icon {*/
/*    width: 38px;*/
/*    height: 38px;*/
/*  }*/
/*}*/

/*@media only screen and (max-width: 419px) {*/
/*  .address-list {*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    padding: 10px 0;*/
/*  }*/

/*  .address-item {*/
/*    padding: 10px 0;*/
/*  }*/
/*}*/

/*/* Styles for Mobile devices *!*/
@media only screen and (min-width: 480px) {
  .address-list {
    flex-direction: row;
    justify-content: space-between;
  }
}


/*!* Styles for Tablet devices *!*/
@media only screen and (min-width: 768px) {
  .header-menu {
    position: relative;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-item {
    display: block;
    position: inherit;
    /*right: -150%; !* Початкова позиція за межами правого краю *!*/
    /*animation: slideFromRight 1.5s ease 1.5s forwards; !* Затримка 1.5 секунди *!*/
  }

  .header-item:not(:last-child) {
    margin-right: 30px;
  }

  .mobile-menu-btn {
    display: none;
  }

}

/*!* Styles for Desktop devices *!*/
@media only screen and (min-width: 1280px) {
  .header-menu {
    flex-direction: row;
  }

}

/*/* Styles for Widescreen devices *!*/
@media only screen and (min-width: 1440px) {

}
