.wrapper.header {
  overflow: hidden;
}

.container.header {
  /*padding: 10px 30px;*/
}

header {

}

.address {

}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.address-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  transition: color 0.3s ease-in;
}

.address-item-icon {
  fill: var(--white);
  transition: color 0.3s ease-in;
}

.address-item:has(.address-link:hover) .address-item-icon,
.address-item:has(.address-link:focus) .address-item-icon {
  fill: var(--red);
}

.address-link {
  transition: color 0.3s ease-in;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  position: relative;
  align-items: center;
}

.logo {
  padding: 20px 20px 20px 0;
  position: inherit;
  transform: translateX(-200%); /* Початкова позиція за межами лівого краю */
  animation: slideFromLeft 1.5s ease 0.3s forwards; /* Затримка 0.3 секунди */
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-item {
  display: none;
}

.address-link:hover,
.header-link:hover,
.address-link:focus,
.header-link:focus {
  color: var(--red);
}


.header-link {
  /*padding: 21px 0;*/
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s ease-in;
}

/*/* Styles for Mobile devices *!*/
@media only screen and (min-width: 480px) {
  .address-list {
    flex-direction: row;
    justify-content: space-between;
  }
}


/*!* Styles for Tablet devices *!*/
@media only screen and (min-width: 768px) {
  .header-menu {
    position: relative;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-item {
    display: block;
    position: inherit;
  }

  .header-item:not(:last-child) {
    margin-right: 30px;
  }

  .header-link {
    font-size: 18px;
  }

  .mobile-menu-btn {
    display: none;
  }
}

/*!* Styles for Desktop devices *!*/
@media only screen and (min-width: 1024px) {
  .nav-img {
    width: 264px;
  }
}

/*!* Styles for Desktop devices *!*/
@media only screen and (min-width: 1280px) {
  .header-menu {
    flex-direction: row;
  }

}

/*/* Styles for Widescreen devices *!*/
@media only screen and (min-width: 1440px) {

}
