.burger-section {
  display: none;
  background-color: grey;
}

.burger-section.active {
  display: block;

  transform: translateX(-100%); /* Початкова позиція за межами лівого краю */
  animation: slideFromLeft 1.5s ease 0.3s forwards; /* Затримка 0.3 секунди */
}

.burger-section.active.hide {
  transform: translateX(0%); /* Початкова позиція за межами лівого краю */
  animation: slideToLeft 1.5s ease 0.3s forwards; /* Затримка 0.3 секунди */
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  font-weight: 600;
}

.mobile-menu-list-item {
  padding: 5px;
}

.mobile-menu-list-item.active {
  background-color: var(--white);
  color: var(--black);
}

