.modal-search {
  display: block;
  margin: 20px 0;
  color: var(--black);
  cursor: pointer;
}

.label.search {
  display: flex;
  /*background-color: var(--red);*/
  color: var(--black);
  /*justify-content: center;*/
  cursor: pointer;
}

#search {
  background-color: var(--white);
  padding: 20px 40px;
  /*margin: 20px;*/
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  transition: background-color 2s ease;

  border-radius: 5px;
}

#search:hover {
  background-color: var(--red);
}

#results {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: var(--black);
}

.searched-item {
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 20px;
  /*margin: 20px;*/
  background-color: lightgray;
}

/*.label.search {*/
/*  display: flex;*/
/*  !*background-color: var(--red);*!*/
/*  color: var(--black);*/
/*  !*justify-content: center;*!*/
/*  cursor: pointer;*/
/*}*/

/*#search {*/
/*  background-color: var(--white);*/
/*  padding: 20px 40px;*/
/*  font-size: 36px;*/
/*  font-weight: 500;*/
/*  width: 100%;*/
/*  text-align: center;*/
/*  transition: background-color 2s ease;*/
/*}*/

/*#search:hover {*/
/*  background-color: var(--red);*/
/*}*/

/*#results {*/
/*  color: var(--white);*/
/*}*/

/*!*.search-pic {*!*/
/*!*  border-radius: 50%;*!*/
/*!*}*!*/

/*.search-logo {*/
/*  -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;*/
/*  animation: shake-top 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;*/
/*}*/


/*!* Styles for Tablet devices *!*/
@media only screen and (min-width: 768px) {
  #search {
    font-size: 26px;
  }

  .searched-item {
    padding: 20px 40px;
  }

  .search.button {
    font-size: 26px;
  }

  .search.button {
    padding: 30px 50px;
  }

}

@media only screen and (min-width: 900px) {
  #search {
    font-size: 36px;
  }
}

/*!* Styles for Desktop devices *!*/
@media only screen and (min-width: 1280px) {
  .search.button {
    font-size: 36px;
  }

  .search.button {
    padding: 30px 60px;
  }

}

/*/* Styles for Widescreen devices *!*/
@media only screen and (min-width: 1440px) {

}