.modal-container.search {
  position: relative;
}

.search.button {
  color: var(--black);
  background-color: var(--white);
  padding: 20px 40px;
  /*border-radius: 5px;*/
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  min-width: 100%;
  /*width: 50%;*/
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тінь для стилю */
  cursor: pointer;

  position: inherit;
  transition: background-color 2s ease;

  transform: translateX(-150%); /* Початкова позиція за межами лівого краю */
  animation: slideFromLeft 1.5s ease 3s forwards; /* Затримка 1.2 секунди */
}

.search.button:hover,
.search.button:focus {
  background-color: var(--red);
}