.modal-container.search {
  position: relative;
}

.search.button {
  color: var(--black);
  background-color: var(--white);
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 900;
  /*font-style: italic;*/
  text-transform: uppercase;
  min-width: 100%;
  /*width: 50%;*/
  text-align: center;
  box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.9); /* Тінь для стилю */
  cursor: pointer;

  position: inherit;
  transition: background-color 2s ease;

  transform: translateX(-150%); /* Початкова позиція за межами лівого краю */
  animation: slideFromLeft 1.5s ease 1.2s forwards; /* Затримка 1.2 секунди */
}

.search.button:hover,
.search.button:focus {
  /*background-color: var(--red);*/
}