.modal-container.search {
  position: relative;
}

.search.button {
  display: grid;
  grid-template-columns: 100fr 1fr;
  gap: 10px;
  /*justify-content: center;*/
  align-items: center;

  color: var(--black);
  background-color: var(--white);
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 900;
  /*font-style: italic;*/
  text-transform: uppercase;
  min-width: 100%;
  /*width: 50%;*/
  /*text-align: center;*/
  box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.9); /* Тінь для стилю */
  cursor: pointer;

  position: inherit;
  /*transition: background-color 2s ease;*/
  transition: opacity 0.3s ease-in;

  transform: translateX(-150%); /* Початкова позиція за межами лівого краю */
  animation: slideFromLeft 1.5s ease 1.2s forwards; /* Затримка 1.2 секунди */
  animation-fill-mode: forwards; /* Залишає елемент в кінцевому стані */
}

.search.button:hover,
.search.button:focus {
  opacity: 0.6;
}

.search.button:hover .search-item-icon,
.search.button:focus .search-item-icon {
  fill: var(--red);
}

.search-title {
  font-size: 24px;
  justify-self: center;
  transition: color 0.3s ease-in;
}

.search-title.full {
  display: none;
}

.search-title.short {
  display: inline-block;
}

.search.button:hover .search-title,
.search.button:focus .search-title {
  color: var(--red);
}

.search-item-icon {
  fill: var(--black);
  transition: fill 0.3s ease-in;
  /*justify-self: center;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

/*!* Styles for Tablet devices *!*/
@media only screen and (min-width: 768px) {
  .search-title.full {
    display: inline-block;
  }

  .search-title.short {
    display: none;
  }
}
