.wrapper.slider {
  border-bottom: none;
}

.swiper {
  /*width: 600px;*/
  /*height: 400px;*/
  /*background-color: violet;*/
}

.swiper-slide {
  transition: 0.3s ease-in;
}

.swiper-slide:hover .swiper-slide-title.underline,
.swiper-slide:focus .swiper-slide-title.underline {
  fill: var(--red);
}

.swiper-slide-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 215px;
  transition: opacity 0.3s ease-in;
}

.swiper-slide-title {
  transition: color 0.3s ease-in;
}

.swiper-slide-link:hover,
.swiper-slide-link:focus {
  opacity: 0.6;
}

.swiper-slide-link:hover .swiper-slide-title,
.swiper-slide-link:focus .swiper-slide-title {
  color: var(--red);
}

.swiper-slide-img {
  max-width: 100%;
  height: auto;
  padding: 20px 0 40px;
}

/* Зміна кольору неактивних точок */
.swiper .swiper-pagination-bullet {
  background-color: var(--red);
  width: 10px;
  height: 10px;
  opacity: 0.5;
}

/* Зміна кольору активної точки */
.swiper .swiper-pagination-bullet-active {
  background-color: var(--white);
  opacity: 1;
}

/*!* Styles for Tablet devices *!*/
@media only screen and (min-width: 768px) {
  .swiper-slide-title {
    font-size: 20px;
  }
}