<footer>
  <div class="wrapper footer">
    <div class="container footer">
      <address class="address">
        <ul class="address-list">
          <li class="address-item">
            <svg class="address-item-icon"
                 height="16"
                 width="16"
            >
              <use href="./img/icons.svg#icon-whatsapp"></use>
            </svg>
            <a
              class="address-link underline"
              href="tel:+380970134331">+38 (097) 013-43-31
            </a>
          </li>
          <li class="address-item">
            <svg class="address-item-icon"
                 height="16"
                 width="16"
            >
              <use href="./img/icons.svg#icon-mail"></use>
            </svg>
            <a
              class="address-link underline"
              href="mailto:contact@maxgear.com.ua">contact@maxgear.com.ua
            </a>
          </li>
        </ul>
      </address>
      <nav class="nav footer">
        <a
          class="logo footer"
          href="./index.html">
          <img
            alt="Логотип Maxgear"
            class="nav-img footer"
            src="./img/header/maxgear-logo-white-small-crop.webp"
            width="176"
          />
        </a>
      </nav>
      <small class="copyright-section">©
        <script>document.write(new Date().getFullYear());</script>
        &nbsp;|&nbsp;
        <a
          class="copyright-link"
          href="https://www.linkedin.com/in/ihor-borys/"
          target="_blank">Ihor Borys</a>
        &nbsp;|&nbsp; Усі права захищено
      </small>
    </div>
  </div>
</footer>
