<meta charset="UTF-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<title>MaxGear | Автозапчастини</title>

<!--Favicon-->
<link href="/favicon.png" rel="icon" type="image/png" />

<!--Fonts-->
<!--<link href="https://fonts.googleapis.com" rel="preconnect" />-->
<!--<link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />-->
<!--<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"-->
<!--      rel="stylesheet" />-->

<!--Preloading prices-->
<!--<link as="fetch"-->
<!--      crossorigin="anonymous"-->
<!--      href="https://ihorborys-aws-bucket.s3.eu-north-1.amazonaws.com/Prices/PRICE+AP_GDANSK_MOTOROL_+13.01.2024_R_utf_8.csv" rel="preload" type="text/csv" />-->

<link href="https://fonts.googleapis.com" rel="preconnect">
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
<link
  href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">

<!--Modern normalize-->
<link href="https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css" rel="stylesheet" />

<!--Open graph tags-->
<meta content="MaxGear | Автозапчастини" property="og:title" />
<meta content="Автозапчастини для вашого авто. Найкраща якість за доступними цінами!" property="og:description" />
<meta content="https://ihorboys.github.io/Car-parts/" property="og:url" />
<meta
  content="https://raw.githubusercontent.com/ihorborys/Car-parts/refs/heads/main/images/logo/maxgear-logo-white-big.png"
  property="og:image" />
<meta content="image/png" property="og:image:type" />
<meta content="1876" property="og:image:width" />
<meta content="534" property="og:image:height" />
<meta content="website" property="og:type" />

<!--<link-->
<!--  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"-->
<!--  rel="stylesheet"-->
<!--/>-->

<!--<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>-->