<header>
  <div class="wrapper header">
    <div class="container header">
      <address class="address">
        <ul class="address-list">
          <li class="address-item">
            <svg class="address-item-icon"
                 height="16"
                 width="16"
            >
              <use href="./img/icons.svg#icon-whatsapp"></use>
            </svg>
            <a
              class="address-link underline"
              href="tel:+380970134331">+38 (097) 013-43-31
            </a>
          </li>
          <li class="address-item">
            <svg class="address-item-icon"
                 height="16"
                 width="16"
            >
              <use href="./img/icons.svg#icon-mail"></use>
            </svg>
            <a
              class="address-link underline"
              href="mailto:contact@maxgear.com.ua">contact@maxgear.com.ua
            </a>
          </li>
        </ul>
      </address>
      <nav class="nav">
        <a
          class="logo"
          href="./index.html">
          <img
            alt="Логотип Maxgear"
            class="nav-img"
            src="./img/header/maxgear-logo-white-small-crop.webp"
            width="176"
          />
        </a>
        <ul class="header-menu">
          <li class="header-item">
            <a class="header-link underline active" href="./index.html">Постачальники</a>
          </li>
          <li class="header-item">
            <a class="header-link underline" href="">Прайси</a>
          </li>
          <li class="header-item">
            <a class="header-link underline" href="">Як замовити?</a>
          </li>
        </ul>
        <load src="/partials/burger.html" />
      </nav>
    </div>
  </div>

</header>
