<div class="modal-overlay search">
  <div class="modal-container search">
    <button
      class="modal-close-btn search"
      type="button"
    >
      <svg class="modal-close-btn-icon burger"
           height="25"
           width="25"
      >
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <label class="modal-search">
      <input
        id="search"
        placeholder="Пошук по коду, юнікоду, бренду"
        type="text">
      <!--    <button onclick="displayResults()">-->
      <!--      Пошук-->
      <!--    </button>-->
    </label>
    <div id="results"></div>
  </div>
</div>
