<div class="modal-overlay burger">
  <div class="modal container burger">
    <button
      class="modal-close-btn burger"
      type="button"
    >
      <svg class="modal-close-btn-icon burger"
           height="25"
           width="25"
      >
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-list-item active">
        <a class="mobile-menu-list-item-link" href="#">Каталог автозапчастин</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-item-link" href="#">Постачальники</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-item-link" href="#">Прайси</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-item-link" href="#">Як замовити?</a>
      </li>
    </ul>
  </div>
</div>
