<section class="burger-section">
  <div class="wrapper burger">
    <div class="container burger">
      <!--      <button-->
      <!--        class="modal-close-btn burger"-->
      <!--        type="button"-->
      <!--      >-->
      <!--        &lt;!&ndash;        <svg class="modal-close-btn-icon burger"&ndash;&gt;-->
      <!--        &lt;!&ndash;             height="25"&ndash;&gt;-->
      <!--        &lt;!&ndash;             width="25"&ndash;&gt;-->
      <!--        &lt;!&ndash;        >&ndash;&gt;-->
      <!--        &lt;!&ndash;          <use href="./img/icons.svg#icon-close"></use>&ndash;&gt;-->
      <!--        &lt;!&ndash;        </svg>&ndash;&gt;-->
      <!--      </button>-->
      <ul class="mobile-menu-list">
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-item-link" href="#">Постачальники</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-item-link" href="#">Прайси</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-item-link" href="#">Співпраця</a>
        </li>
      </ul>
    </div>
  </div>
</section>