<section class="prices-section">
  <div class="wrapper prices">
    <div class="container prices">
      <div class="prices">
        <div class="prices-title">завантаження прайсів</div>
        <ul class="prices-list">
          <li class="prices-item">
            <a
              class="prices-item-link"
              href="https://ihorborys-aws-bucket.s3.eu-north-1.amazonaws.com/prices+excel/PRICE+AUTOPARTNER+10.02.2025_R.xlsx"
              target="_blank">
              <span class="prices-item-title">Autopartner Rzeszow</span>
              <img
                alt="Autopartner Rzeszow price image"
                class="prices-item-img"
                src="img/main/prices/autopartner-logo-1.jpg">
            </a>
          </li>
          <li class="prices-item">
            <a
              class="prices-item-link"
              href="https://ihorborys-aws-bucket.s3.eu-north-1.amazonaws.com/prices+excel/PRICE+AP_GDANSK+10.02.2025_R.xlsx"
              target="_blank">
              <span class="prices-item-title">Autopartner Gdansk</span>
              <img
                alt="Autopartner Gdansk price image"
                class="prices-item-img"
                src="img/main/prices/gdansk-logo-1.jpg">
            </a>
          </li>
          <li class="prices-item">
            <a
              class="prices-item-link"
              href="https://ihorborys-aws-bucket.s3.eu-north-1.amazonaws.com/prices+excel/PRICE+MOTOROL+10.02.2025_R.xlsx"
              target="_blank">
              <span class="prices-item-title">Motorol</span>
              <img
                alt="Motorol price image"
                class="prices-item-img"
                src="img/main/prices/motorol-logo-1.jpg">
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>