<div class="wrapper slider">
  <div class="container slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide underline">
          <a
            class="swiper-slide-link"
            href="https://autopartner.com/"
            target="_blank">
            Autopartner Rzeszow
            <img
              alt="Autopartner Rzeszow site screenshot"
              class="swiper-slide-img"
              src="img/main/slider/ap-slider.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a
            class="swiper-slide-link"
            href="https://www.autopartner.pl/"
            target="_blank">
            Autopartner Gdansk
            <img
              alt="Autopartner Gdansk site screenshot"
              class="swiper-slide-img"
              src="img/main/slider/gdansk-slider.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a
            class="swiper-slide-link"
            href="https://www.motorol.pl/"
            target="_blank">
            Motorol
            <img
              alt="Motorol site screenshot"
              class="swiper-slide-img"
              src="img/main/slider/motorol-slider.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a
            class="swiper-slide-link"
            href="https://autopartner.com/"
            target="_blank">
            Autopartner Rzeszow
            <img
              alt="Autopartner Rzeszow site screenshot"
              class="swiper-slide-img"
              src="img/main/slider/ap-slider.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a
            class="swiper-slide-link"
            href="https://www.autopartner.pl/"
            target="_blank">
            Autopartner Gdansk
            <img
              alt="Autopartner Gdansk site screenshot"
              class="swiper-slide-img"
              src="img/main/slider/gdansk-slider.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a
            class="swiper-slide-link"
            href="https://www.motorol.pl/"
            target="_blank">
            Motorol
            <img
              alt="Motorol site screenshot"
              class="swiper-slide-img"
              src="img/main/slider/motorol-slider.jpg">
          </a>
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!--  &lt;!&ndash; If we need navigation buttons &ndash;&gt;-->
      <!--  <div class="swiper-button-prev"></div>-->
      <!--  <div class="swiper-button-next"></div>-->

      <!--  &lt;!&ndash; If we need scrollbar &ndash;&gt;-->
      <!--  <div class="swiper-scrollbar"></div>-->
    </div>
  </div>
</div>


<!--https://api.screenshotmachine.com/?key=3c4f15&url=https%3A%2F%2Fwww.autopartner.pl%2F&dimension=1024x768-->

<!--https://api.screenshotmachine.com?key=3c4f15&url=https%3A%2F%2Fautopartner.com%2F&dimension=1024x768-->

<!--https://api.screenshotmachine.com?key=3c4f15&url=https%3A%2F%2Fwww.motorol.pl%2F&dimension=1024x768-->
